body {
    padding: 70px; 
}
.creation {
    display: flex;
    justify-content: right;
    width: 100%;
}
.main-modal {
    width: 100%;
    display: flex;
    justify-content: right;
}
.title-modal {
    width: 88%;
    text-align: left;
}
